

  <mat-toolbar class="bg-indigo-600 text-white">
    <mat-icon>insert_emoticon</mat-icon>
    <span>My Application</span>
  </mat-toolbar>

  <div class="content-wrapper p-2">
    <button (click)="newTask()" mat-button class="rounded bg-indigo-600 text-white text-lg p-3 mb-5">
      <mat-icon>add_circle_outline</mat-icon> Add Task
    </button>

  <div class="container-wrapper">
    <div class="container">
      <h2>Backlog</h2>
  
      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo | async"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        
        class="list">
        <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>
  
    <div class="container">
      <h2>In progress</h2>
  
      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress | async"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress | async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>
  
    <div class="container">
      <h2>Done</h2>
  
      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done | async"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
        <app-task (edit)="editTask('done', $event)" *ngFor="let task of done | async" cdkDrag [task]="task"></app-task>
      </mat-card>
    </div>
  </div>
  <!-- <app-task 
    *ngFor="let task of todo" [task]="task"
  ></app-task> -->
  